.AddShop-page{
    padding: 5% 20%;
}
.AddShop-title-bar{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content:center;
}
.push-down{
    margin-top: 10px !important;
}