.not-found-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-mark{
    width: 300px !important;
    height: 300px !important;
    font-size: 300px !important;
}
.page-not-found{
    margin-top: 20px !important;
}