.customer-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.customer-header .user-avatar{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.customer-header .user-name{
    flex: 1;
}
.past-orders{
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;

}
.no-orders{
    justify-self: center;
    align-self: center;
    flex: 1;
    text-align: center;
}
.order-card{
    margin-right: 5px;
    width: 300px;
}
#map{
    width: 100%;
    height: 500px;
    border: 1px;
}
.push-down{
    margin-top: 10px !important;
}
.top-loading{
    width: 100%;
    height: 20px;
    min-height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.cart-button{
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}
.customer-page{
    padding: 50px 100px;
    max-width: 100%;
}
.tools{
    width: 100%;
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
#pizza-bckg-cont{
    width: 300px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: -300px !important;
}
#pizza-bckg{
    width: 300px;
    min-height: 300px;
}
@media only screen and (max-width: 768px){
    .tools{
        max-width: 90% !important;
    }
    .tools .hint{
        display: none;
    }
    .tools h3{
        display: none !important;
    }
    .customer-header .user-avatar{
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .customer-header .user-name{
        font-size: 25px;
    }
}
@media only screen and (max-width: 650px){
    .customer-page{
        padding: 5px;
    }
    .customer-header .user-avatar{
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }
    .customer-header .user-name{
        font-size: 21px;
    }
    .cart-button{
        z-index: 200;
    }
    .tools{
        max-width: 90% !important;
        margin-right: 100px !important;
    }
    .tools .hint{
        display: none;
    }
    .tools h3{
        display: none !important;
    }
    canvas{
        width: 100% !important;
        margin:  0 auto !important;
        border: 1px solid black;
    }
    #pizza-bckg-cont{
        width: 100% !important;
        height: 300px;
    }
    #pizza-bckg{
        width: 100% !important;
        height: 300px;
    }
}