
.past-orders{
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;

}
.manager-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manager-header .manager-avatar{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}


#map{
    width: 100%;
    height: 500px;
    border: 1px;
}