.cook-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cook-header .cook-avatar{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.Pizza-creation-content{
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.push-down{
    margin-bottom: 10px !important;
}
